* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(#fff200, #ffffff, #fff200);
}

/* Navbar */
nav {
  display: flex;
  background-color: #fff200;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}

nav .logo {
  letter-spacing: 3px;
}

nav .logo h2 a {
  color: black;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
/* End hamburger Animation */

/* The dots indicator */
.toogleSlide {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: inline-block;
  transition: backgrounb-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides {
  display: none;
}

h1 {
  font-size: 45px;
}

.container-about .item p {
  font-size: 20px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.desc,
.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 50px;
}

/* Responsive Break Point Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    width: 300px;
    height: 200px;
  }
}

/* Responsive Breakpoint Smartphone */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    transform: translateX(-200%);
    transition: all 1s;
    background-color: #292b2c;
  }

  nav ul li a {
    color: white;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  .toogleSlide {
    display: none;
  }
}

.container {
  margin-top: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/wallpaperflare.com_wallpape.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url("../images/fotomedia2.jpg") no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

h3 {
  color: black;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: black;
} */

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1 rem;
  font-weight: bold;
  background-color: #ff0000;
  cursor: pointer;
  border: none;
  color: black;
  transition: 0.3;
}

.btn:hover {
  background-color: #27ae60;
}
